TOKEN=YOUR_DISCORD_BOT_TOKEN
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
DATABASE_URL="file:./prisma/dev.db"
DISCORD_CLIENT_ID="আপনার_ক্লায়েন্ট_আইডি"
DISCORD_CLIENT_SECRET="আপনার_ক্লায়েন্ট_সিক্রেট"
DASHBOARD_URL="http://localhost:3000" # প্রোডাকশনে আপনার সার্ভার আইপি বা ডোমেইন হবে